* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-size {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.row { flex-direction: row; }
  &.column { flex-direction: column; }
  &.wrap { flex-wrap: wrap; }
}

:root {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  min-height: 100%;
  overflow: hidden auto;
  scroll-behavior: smooth;

  --color-text: #37392e;
  --color-background: #dcecec;

  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  padding: 2rem;
}
