* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-size {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.row { flex-direction: row; }
  &.column { flex-direction: column; }
  &.wrap { flex-wrap: wrap; }
  &.space-between { justify-content: space-between; }
  &.grow { flex-grow: 1; }
  &.shrink { flex-shrink: 1; }
  &.gap-1 { gap: 0.25rem; }
  &.gap-2 { gap: 0.5rem; }
  &.gap-3 { gap: 1rem; }
}

:root {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  min-height: 100%;
  overflow: hidden auto;
  scroll-behavior: smooth;

  --color-text: #37392e;
  --color-background: #e4e7eb;
  --color-theme: #c06666;

  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  padding: 2rem;
}
