:root {
  background-color: oklch(from var(--color-background) 70% c h);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 300px;
  max-width: 90vw;
  border-radius: 2rem;
  background-color: var(--color-background);
  border: 0.25rem solid var(--color-theme);
  box-shadow: 0 0 1rem oklch(from var(--color-theme) l c h / 0.5);
}

label {
  margin-top: 1rem;
  font-weight: bold;
}

input {
  all: unset;
}

select, input {
  background-color: white;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border: 0.125rem solid var(--color-theme);
  border-radius: 0.5rem;
  &:active, &:focus {
    outline: 0.125rem solid var(--color-theme);
  }
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

form button {
  all: unset;
  margin: 1rem 0 0 auto;
  padding: 0.5rem 1rem;
  border: 0.125rem solid var(--color-theme);
  border-radius: 0.5rem;
  background-color: var(--color-theme);
  font-weight: bold;
  cursor: pointer;
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  &:active, &:focus, &:hover {
    &:not(:disabled) {
      background-color: oklch(from var(--color-theme) l c h / 0.8);
    }
  }
}
